[submodule "sub-gits/Contact-us.git"]
	path = sub-gits/Contact-us.git
	url = git@github.com:Rennes-en-Resilience/Contact-us.git
[submodule "sub-gits/Contactez-nous.git"]
	path = sub-gits/Contactez-nous.git
	url = git@github.com:Rennes-en-Resilience/Contactez-nous.git
[submodule "sub-gits/Logos-pour-Rennes-en-R-silience-.git"]
	path = sub-gits/Logos-pour-Rennes-en-R-silience-.git
	url = git@github.com:Rennes-en-Resilience/Logos-pour-Rennes-en-R-silience-.git
